<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Aconex Instances</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">  
</head>
<body onload = startFunction() class="text-center">
  <div class="text-center" style="padding: 3em 3em; display: block" id="image-div">
    <img src="/img/loader.gif" alt="Loading Aconex Instances...."> 
  </div>
  <div class="container" style="padding: 3em 3em; display: none" id="main-div">
    <h2 style="
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 34px;
    margin-bottom: 34px;
    ">
  Aconex Instance Details
    </h2>  
    <div style="margin-bottom: 1rem" class="text-start">
      <p class="fw-semibold" style="margin-bottom: 0.5rem !important">
        Aconex URL
      </p>
      <input type="url" value="" class="form-control" id="aconex-url" placeholder="Aconex URL" style="display: inline-block">
      <input type="hidden" id="old-url" value= "" style="display: inline-block" />
    </div>
    <div style="margin-bottom: 1rem" class="text-start">
      <p class="fw-semibold" style="margin-bottom: 0.5rem !important">
        Instance Name
      </p>
      <input type="text" value="" class="form-control" id="instance-name" placeholder="Instance Name" style="display: inline-block" oninput="this.value = this.value.toUpperCase()">
      <input type="hidden" id="old-instance" value= "" style="display: inline-block" />
    </div>
    <div style="margin-bottom: 1rem" class="text-start">
      <p class="fw-semibold" style="margin-bottom: 0.5rem !important">
        Service Account Name
      </p>
      <input type="text" value="" class="form-control" id="aconex-service-account" placeholder="Service Account Name" style="display: inline-block">
      <input type="hidden" id="hidden-value" value="" style="display: inline-block" />
    </div>
    <div style="margin-bottom: 1.5rem" class="text-start">
      <p class="fw-semibold" style="margin-bottom: 0.5rem !important">
        Password
      </p>
      <input type="password" value="" class="form-control" id="aconex-password" placeholder="Password" style="display: inline-block">
    </div>
    <div class="d-flex flex-row text-start ms-1" style="margin-bottom: 2.5rem">
      <button onclick="saveDetails()" id = "submit" class="btn btn-success btn-sm fw-semibold text-center" type="submit" style="margin-left: -6px; margin-right: 24px; padding-left: 5px;">
        Save Details
      </button>
      <button id = "go-back" onclick="history.back()" class="btn btn-danger btn-sm fw-semibold text-center" type="button" style="margin-left: -1px;">
        Back to SharePoint
      </button>
    </div>
    <div style="margin-bottom: 2.5rem">
      <table width="1200" border="2" align="padding-left" id="newrow" class="table">
        <thead>
          <tr bgcolor = "lightgrey">
              <th width = "400">Aconex URL</th>
              <th width = "400">Instance Name </th>
              <th width = "400">Service Account </th>
              <th width = "400">Action</th>
          </tr>
        </thead>
        <tbody id="aconex-credentials" align="center">
          <% for (var m of creds) { %>
            <% let id = m.AconexURL + m.ServiceAccountName %>
            <tr id="<%=id%>">
                <td>
                 <p id="'edit-url-' + '<%=id%>'"><%=m.AconexURL%></p> 
                </td>
                <td>
                  <p id="'edit-instance-name-' + '<%=id%>'"><%=m.InstanceName%></p> 
                 </td>
                <td>
                 <p id="'edit-service-account-' + '<%=id%>'"><%=m.ServiceAccountName%></p> 
                </td>
                <td>
                  <button type="button" onclick="editDetails('<%=id%>','<%=m.AconexURL%>','<%=m.ServiceAccountName%>','<%=m.InstanceName%>')"  id="'edit-button-' + '<%=id%>'"
                    class="btn btn-success btn-sm fw-semibold text-center" style="margin-left: 20px; margin-right: -84px; padding-left: 5px">
                    Edit 
                  </button>
                  <button id="delete-btn" onclick="deleteDetails('<%=id%>','<%=m.AconexURL%>', '<%=m.InstanceName%>', '<%=m.Status===1?0:1%>')" class="btn <%=m.Status===1?'btn-success':'btn-danger'%> btn-sm fw-semibold" id="delete-button" type="button"
                    style="margin-left: 90px; margin-right: 10px">
                    <%=m.Status===1?'Enabled':'Disabled'%>
                  </button>
                </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>

<script>
  function startFunction()
  {
        document.getElementById('image-div').style.display = "none"; 
        document.getElementById('main-div').style.display = "block";
  }
  function saveDetails() 
  {
      let search_response = "";
      const url = document.getElementById('aconex-url').value;
      const instance_name =  document.getElementById('instance-name').value;
      const serviceaccount = document.getElementById('aconex-service-account').value;
      const acxpassword = document.getElementById('aconex-password').value;
      const oldaconexurl =  document.getElementById('old-url').value;
      const oldinstancename = document.getElementById('old-instance').value;

      if(url.trim().length === 0)
      {
        alert('Please add Aconex URL')
        return
      }
      if(instance_name.trim().length === 0)
      {
        alert('Please add Instance Name')
        return
      }
      if(serviceaccount.trim().length === 0)
      {
        alert('Please add Service Account Name')
        return
      }
      if(acxpassword.trim().length === 0)
      {
        alert('Please add Aconex Password')
        return
      }
      
      const payload = {
            aconexurl: url,
            serviceaccountname: serviceaccount,
            instancename: instance_name,
            password: acxpassword,
            oldaconex: oldaconexurl,
            oldinstance: oldinstancename
          };  

      document.getElementById('old-url').value = "";
      document.getElementById('old-instance').value = ""; 
      document.getElementById('submit').innerText = "Saving Credentials.. Please Wait";
      document.getElementById('submit').className = "btn btn-primary btn-sm fw-semibold text-center";
      document.getElementById('submit').disabled = true;
      document.getElementById('go-back').disabled = true;
      
      const addinDB = fetch("/aconex/credentials/data/add",{
          method: "post",
          body: JSON.stringify(payload),
          headers: {
              'Content-Type': 'application/json'
          }
      }).then(res => res.json())
      .then(result => 
      {
          console.log("Result : " + JSON.stringify(result))
          console.log("Message : " + result.message + " : " + typeof result.message)
          let key1 = result.unique;
          let key2 = result.servicename;
          let key = key1.concat(key2);        
          let is_disabled = result.signal;
          console.log("KEY = " + key);
          if(result.message == "Created" || result.message == "Updated")
          {
            if(result.message == "Updated")
            {
              document.getElementById(`${key}`).remove();
            }
            const tbody = document.getElementById("aconex-credentials");
            const tr =  document.createElement("tr");

            const rowid = url.concat(serviceaccount);  tr.id = rowid; 
            console.log("ROWID = " + rowid)
            // const rowid = url;  tr.id = rowid; 
            
            for(let j = 0; j <= 3;j++)
            {
              const td = document.createElement("td");
              if(j == 0)
                td.appendChild(document.createTextNode(`${url}`));
              else if(j == 1)
                td.appendChild(document.createTextNode(`${instance_name}`));  
              else if(j == 2)
                td.appendChild(document.createTextNode(`${serviceaccount}`));
              else
              {
                const edit = document.createElement("button")
                edit.classList.add("btn", "btn-success", "btn-sm", "fw-semibold", "text-center")
                edit.innerText = "Edit";
                edit.type = "button"
                edit.style.cssText = `margin-left: 20px; margin-right: -84px; padding-left: 5px`;
                edit.addEventListener('click',(e) => {
                  console.log(rowid)
                  editDetails(rowid,url,serviceaccount,instance_name);
                }) 
                if(is_disabled == '1')
                {
                  const remove = document.createElement("button")
                  remove.classList.add("btn", "btn-danger", "btn-sm", "fw-semibold", "text-center")
                  remove.innerText = "Disabled";
                  remove.type = "button"
                  remove.id = "delete-btn"
                  remove.style.cssText = `margin-left: 90px; margin-right: 10px`
                  remove.addEventListener('click',(e) => {
                    console.log(rowid)
                    deleteDetails(rowid,url,instance_name,0);
                  }) 
                  td.appendChild(edit);
                  td.appendChild(remove);
                }
                else
                {
                  const remove = document.createElement("button")
                  remove.classList.add("btn", "btn-success", "btn-sm", "fw-semibold", "text-center")
                  remove.innerText = "Enabled";
                  remove.type = "button"
                  remove.id = "delete-btn"
                  remove.style.cssText = `margin-left: 90px; margin-right: 10px`
                  remove.addEventListener('click',(e) => {
                    console.log(rowid)
                    deleteDetails(rowid,url,instance_name,1);
                  }) 
                  td.appendChild(edit);
                  td.appendChild(remove);
                }   
              }
              tr.appendChild(td);               
            }
            tbody.appendChild(tr);

            if(result.message == "Created") 
            {
              console.log('9')
              alert('Credentials are successfully verified and saved - Created');
            }          
            else if(result.message == "Updated")
            {
              console.log('10')
              alert('Credentials are successfully verified and saved - Updated');
            }
            else 
            {
              console.log('11')
              alert('Error saving credentials !!');
            }

            document.getElementById('aconex-url').value = "";   
            document.getElementById('aconex-service-account').value = "";         
            document.getElementById('aconex-password').value = "";    
            document.getElementById('instance-name').value = "";     
            document.getElementById('aconex-url').disabled = false; 
          }
          else if(result.message == "Exist")
          {
            console.log('1')
            alert("Aconex Instance with same Aconex URL, Instance Name and Service Account Name already exist"); 
          }
          else if(result.message == "InstanceExists") 
          {
            console.log('2')
            alert("Instance already exists. Please change Instance name") 
          }
          else if(result.message == "ServiceAccountExists")  
          {
            console.log('3')
            alert("Instance with same Aconex URL and Service Account Name already exist")   
          }
          else if(result.message == "IncorrectCredentials")
          {
            console.log('4')
            alert("Invalid Credentials ! Please enter your details again");
          }
          else if(result.message == "DatabaseError")
          {
            console.log('5')
            alert("Database Connection Error")
          }
          else
          {
            console.log('6')
            alert('Something went wrong')
          }
          document.getElementById('submit').innerText = "Save Details";
          document.getElementById('submit').className = "btn btn-success btn-sm fw-semibold text-center";
          document.getElementById('submit').disabled = false;
          document.getElementById('go-back').disabled = false;
      })
      .catch (err => {
        console.log('7')
        alert('Server failed to respond. Please try again after sometime');
        document.getElementById('submit').innerText = "Save Details";
        document.getElementById('submit').className = "btn btn-success btn-sm fw-semibold text-center";
        document.getElementById('submit').disabled = false;
        document.getElementById('go-back').disabled = false;
      }) 
  }
  function editDetails(rowid,url,service,instname) 
  {
      document.getElementById('aconex-url').value = url; 
      document.getElementById('aconex-url').disabled = true;     
      document.getElementById('aconex-service-account').value = service;
      document.getElementById('instance-name').value = instname;         
      document.getElementById('aconex-password').value = "";         
      document.getElementById('hidden-value').value = rowid;    
      document.getElementById('old-url').value = url;   
      document.getElementById('old-instance').value = instname;     
  }
  function deleteDetails(id, acxurl, acxinstance, status) 
  {
      const message = status==1?'Do you really want to enable this instance?':'Disabling this instance will also disable respective projects and configurations. Do you really want to disable this instance?'
      let confirm_button = confirm(message);
      if(confirm_button)
      {
        document.getElementById('image-div').style.display = "block"; 
        document.getElementById('main-div').style.display = "none";
        
        const payload = {
          aconexurl: acxurl,
          aconexinstance: acxinstance,
          status: status 
        };
          
        const deleteinDB = fetch("/aconex/credentials/data/delete",{
              method: "post",
              body: JSON.stringify(payload),
              headers: {
                  'Content-Type': 'application/json'
              }
          }).then(res => {return res.json()})
        .then(result => {
        if(result.message == "Success")
        {
          // document.getElementById(id).remove();
          const deleteBtn = document.getElementById(id).querySelector('#delete-btn')
          console.log(deleteBtn)
          if(deleteBtn)
          {
            deleteBtn.innerHTML = status==1?'Enabled':'Disabled'
            deleteBtn.className = '';
            deleteBtn.className = status==1?'btn btn-success btn-sm fw-semibold':'btn btn-danger btn-sm fw-semibold'
            deleteBtn.removeAttribute('onclick')
            deleteBtn.addEventListener('click',(e) => 
            {
              let newstatus = status==1?0:1;
              deleteDetails(id, acxurl, acxinstance, newstatus);
            })
          }
          alert("Instance " + (status==1?'Enabled':'Disabled') + " Successfully!")
        }
        else
        {
          alert("Error disabling Instance");
        }
          document.getElementById('image-div').style.display = "none"; 
          document.getElementById('main-div').style.display = "block";  
        })
        .catch(err => {
          alert("Server failed to respond. Please try again after sometime")
          document.getElementById('image-div').style.display = "none"; 
          document.getElementById('main-div').style.display = "block";
        });
      }        
  } 
</script>