<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Aconex Profile Configuration</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
</head>
<body onload = startFunction()>
    <div class="text-center" style="padding: 3em 3em; display: block" id="image-div">
        <img src="/img/loader.gif" alt="Loading Site Profile Configuration...."> 
    </div>
    <div class="container" style="padding: 3em 3em; display: none" id="main-div">
        <h2 class="text-center"><%=siteTitle%></h2>
        <h4 class="text-center">Aconex Profile Configuration</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">
                Profile Name
            </label>
            <input type="text" value="" class="form-control" id="profile-name" placeholder="Sync Profile Name" disabled="true">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Sharepoint Site</label>
            <input type="text" id="sp-site" value = "<%=sites[0].Title%>" class="form-control"  disabled="true"> 
            <input type="hidden" id="sp-site-url" value="<%=sites[0].SPSiteUrl%>" style="display: inline-block" />
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Document Library</label>
            <input type="text" id="doc-library" value = "<%=libraryname%>" class="form-control"  disabled="true"> 
        </div> 
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Instance URL</label>
            <select id="instance-and-url" class="form-control" onchange="populateprojects(this.id,'project-id',value)" disabled="true">
                <option value="Select Instance URL"> Select Instance URL </option>
                <% for(var i = 0; i < aconex_urls.length; i++) { %>
                    <option value = "<%=JSON.stringify([aconex_urls[i].AconexURL,aconex_urls[i].InstanceName])%>">
                        <%=aconex_urls[i].InstanceName%> - <%=aconex_urls[i].AconexURL%>
                    </option>
                    <% } %>
            </select> 
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" >Project Name</label>
            <select id="project-id" class="form-control" disabled="true">
                <option value="Select Project Name"> Select Project Name </option>  
            </select> 
        </div>
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sharepoint Metadata</th>
                        <th>Aconex Metadata</th>
                        <th><button class="btn btn-sm btn-success" onclick="addRow('metadata-container')"><i class="bi bi-plus-lg"></i></button></th>
                    </tr>
                </thead>
                <tbody id="metadata-container">
                </tbody>
                <tfoot>
                    <th></th>
                    <th></th>
                    <th><button class="btn btn-sm btn-success" onclick="addRow('metadata-container')"><i class="bi bi-plus-lg"></i></button></th>
                </tfoot>
            </table>
        </div>
        <div class="mb-3">
            <button id="save-button" onclick="saveDetails()" class="btn  btn-success">Save Changes</button>
            <button id="back-button" onclick="history.back()" class="btn btn-danger ml-3" style="margin-left: 10px">Back to SharePoint</button>
        </div>
    </div>
</body>
</html>
<script>  
    var response;
    var aconexprojects;
    var aconexattributes;
    var sharepointmetadata;
    var oldconfig;
    var oldmapping;
    function startFunction()
    {
        const lib = fetch('/aconex/configuration/data').then (res => {return res.json()})                                        
        .then (result => {
            document.getElementById('image-div').style.display = "none"; 
            document.getElementById('main-div').style.display = "block"; 
            response = result; 
            aconexprojects = response.acxprojects;
            aconexattributes = response.acxattributes;
            sharepointmetadata = response.spmetakeypairs;
            oldconfig = response.old_config;
            var arr = [];
            arr.push(oldconfig.AconexInstanceURL);
            arr.push(oldconfig.AconexInstanceName);
            var instancenameandurl = JSON.stringify(arr);
            if(oldconfig)
            {
                oldmapping = oldconfig.MetadataMapping;
                populateprojects('instance-and-url','project-id',instancenameandurl);
                document.getElementById('profile-name').value = oldconfig.SiteProfileName;
                document.getElementById('doc-library').value = oldconfig.SharepointSiteLibrary;
                document.getElementById('instance-and-url').value  = instancenameandurl;
                document.getElementById('project-id').value  = oldconfig.AconexProjectID;
                oldmapping = JSON.parse(oldmapping);
                Object.keys(oldmapping).forEach(function (key)
                {
                    let x = key;
                    let y = oldmapping[key];
                    let a = addRow('metadata-container',y,x);
                })
            }  
            document.getElementById('profile-name').disabled = false;
            document.getElementById('doc-library').disabled = true;
            document.getElementById('instance-and-url').disabled = false;
            document.getElementById('project-id').disabled = false;
         })
         .catch(err => {
            alert('Server failed to respond. Please try again after sometime');
            document.getElementById('profile-name').disabled = false;
            document.getElementById('doc-library').disabled = true;
            document.getElementById('instance-and-url').disabled = false;
            document.getElementById('project-id').disabled = false;
         });     
    }
    function addRow(id, spval=null, mdval=null)
    { 
        let spMetadata; 
        let ackMetadata;
        
        spMetadata  = sharepointmetadata;
        ackMetadata = aconexattributes;
        console.log(spMetadata)        
        const time = Date.now()
        const tr = document.createElement("tr")
        tr.id = time
        const sptd = document.createElement("td")
        const spselect = document.createElement("select")
        spselect.classList.add(["form-control"])
        spselect.id="spMetadata"
        spselect.add(new Option("Select Sharepoint Metadata"),undefined)
        for(let i of  Object.keys(spMetadata)){
           spselect.add(new Option(spMetadata[i],i),undefined)
        }
        sptd.appendChild(spselect)
        tr.appendChild(sptd)
        const acktd = document.createElement("td")
        const ackselect = document.createElement("select")
        ackselect.id="ackMetadata"
        ackselect.classList.add(["form-control"])
        ackselect.add(new Option("Select Aconex Metadata"),undefined)
        for(let i of  Object.keys(ackMetadata)){
           ackselect.add(new Option(ackMetadata[i],i),undefined)
        }
        acktd.appendChild(ackselect)
        tr.appendChild(acktd)
        const btntd = document.createElement("td")
        const btn = document.createElement("button")
        btn.classList.add("btn","btn-sm", "btn-danger")
        const i = document.createElement("i")
        i.classList.add("bi", "bi-dash")
        btn.appendChild(i)
        btn.addEventListener('click',(e) => {
            removeRow(time)
        }) 
        btntd.appendChild(btn)
        tr.appendChild(btntd)
        document.getElementById(id).appendChild(tr);
        if(spval && mdval)
        {
            spselect.value = spval;
            ackselect.value = mdval;
        }      
    }
    function removeRow(id){
        console.log(id)
        document.getElementById(id).remove()
    }   
    function populateprojects(s1,s2,arrstr) 
    {
        // console.log("STR = " + arrstr)
        var arr = JSON.parse(arrstr)
        var url = arr[0]; var instancename = arr[1];
        // console.log("URL = " + url + " : INSTANCE NAME = " + instancename)
        let projects = aconexprojects.filter(i => i.AconexURL === url && i.InstanceName === instancename);
        var s1 = document.getElementById(s1);
        var s2 = document.getElementById(s2);
        s2.innerHTML = "";  
        var parentOption = document.createElement("OPTION");
        parentOption.value = "Select Project Name";
        parentOption.innerHTML = "Select Project Name";
        s2.options.add(parentOption);

        for(let i = 0; i < projects.length; i++)
        {
            var newOption = document.createElement("OPTION");
            newOption.value = projects[i].ProjectID;
            newOption.innerHTML = projects[i].ProjectName;
            s2.options.add(newOption);
        }           
    }
    function saveDetails()
    {
        const payload = {
            SiteProfileName: "",
            SharepointSite: "",
            SharepointSiteLibrary: "",
            AconexInstanceURL: "",
            AconexInstanceName: "",
            AconexProjectID: "",
            ProjectShortName:"",
            MetadataMapping: {}
        }
        
        const projectId = document.getElementById('project-id').value;
        payload.AconexProjectID = projectId;

        const spsiteprofile = document.getElementById('profile-name').value;
        if(spsiteprofile.trim().length === 0){
            alert("Please add Site Profile Name")
            return
        }
        payload.SiteProfileName = spsiteprofile;

        const spsite = document.getElementById('sp-site-url').value;
        if(spsite == "Select Instance URL" || spsite.trim().length === 0){
            alert("Sharepoint Site not added");
            return
        }
        payload.SharepointSite = spsite;

        var doclibraryitem = document.getElementById('doc-library').value;
        if(doclibraryitem == "Select Document Library" || doclibraryitem.trim().length === 0){
            alert("Please select Document Library")
            return
        }
        payload.SharepointSiteLibrary = doclibraryitem;
        
        const instancenameandurl = document.getElementById("instance-and-url").value;
        const parsedarray_instancenameandurl = JSON.parse(instancenameandurl);
        const instanceUrl = parsedarray_instancenameandurl[0];
        const instancename = parsedarray_instancenameandurl[1];
        if(instanceUrl == "Select Instance URL" || instanceUrl.trim().length === 0){
            alert("Please select Instance URL ")
            return
        }
        payload.AconexInstanceURL = instanceUrl;
        payload.AconexInstanceName = instancename;

        var e = document.getElementById('project-id');
        const projectname = e.options[e.selectedIndex].text;
        if(e.value == "Select Project Name" || e.value.trim().length === 0){
            alert("Please select Project Name")
            return
        }
        payload.ProjectShortName = projectname;

        const metadataElements = document.getElementById("metadata-container").children;
        console.log(metadataElements.length);
        if(metadataElements.length == 0)
        {
            alert("Please add SharePoint and Aconex metadata.");
            return;
        }
        
        for(let i of metadataElements)
        { 
            let spValue = i.querySelector("#spMetadata").value
            let ackValue = i.querySelector("#ackMetadata").value
            if(spValue == "Select Sharepoint Metadata" || spValue.trim().length === 0){
                alert("Please add SharePoint metadata.")
                return
            }
            if(ackValue == "Select Aconex Metadata" || ackValue.trim().length === 0){
                alert("Please add Aconex metadata.")
                return
            }
            payload.MetadataMapping[ackValue] =  spValue
        }
        document.getElementById("save-button").innerText = "Saving Configuration.. Please wait";
        document.getElementById("save-button").className = "btn btn-primary";
        document.getElementById("save-button").disabled = true;
        document.getElementById("back-button").disabled = true;

        fetch("/save/configuration",{
            method: "post",
            body: JSON.stringify(payload),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((res) => {
            res.json().then(r => 
            {
                if(r.message == "Successful")
                {
                    alert("Configuration saved successfully!!");
                    history.back();
                }
                else if(r.message == "Error")
                    alert("Error Saving Configuration");
                else
                    alert("Configuration not saved !!");

                document.getElementById("save-button").innerText = "Save Details";
                document.getElementById("save-button").className = "btn btn-success";
                document.getElementById("save-button").disabled = false;
                document.getElementById("back-button").disabled = false;
            })
        })
        .catch(err => {
            alert("Server failed to respond. Please try again after sometime");
            document.getElementById("save-button").innerText = "Save Details";
            document.getElementById("save-button").className = "btn btn-success";
            document.getElementById("save-button").disabled = false;
            document.getElementById("back-button").disabled = false;
        })   
    }
</script>